<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="utf-8">
	
	<title>500 Internal Server Error</title>
	
	<!--<link rel="shortcut icon" href="favicon.ico">-->
	<!--<link rel="stylesheet" href="main.css">-->
	<style>
		#techinfo_body {
			margin-top:15px;
		}
		
		.console {
			margin:5px;
			padding:5px;
			background-color:black;
			color:white;
			font-family:monospace;
			font-size:12px;
			display:block;
			overflow:scroll;
		}
		
		#techinfo {
			padding:3px;
			margin-bottom:0;
			background-color:lightblue;
			border:1px solid #3300cc;
		}
		
		#techinfo_title {
			margin:3px;
		}
	</style>
</head>
<body>
	<h1>An Error Occurs!</h1>
	<p>
		We are sorry, but something goes wrong... X(<br>
		Please contact the administrator and show the following information.<br>
	</p>
	<div id="techinfo">
		<h3 id="techinfo_title">Technical Information</h3>
		<div id="techinfo_body">
			<pre class="console">{{e|safe}}</code>
		</div>
	</div>
</body>
</html>
