{% extends "base.template" %}

{% block title %}[{{data['name']}}] Ballot for Round {{round_n}} - {{PROJECT_NAME }}{% endblock %}

{% set round = data['round'] %}

{% block head %}
	{{ super() }}
	
	<script>
		$(function(){
			$('#msgbox').hide();
		});
		
		function save(){
			try {
				var data = get_data();
			} catch(e) {
				$('#msgbox-content').html('<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> ' + e);
				$('#msgbox').show();
				return;
			}
			
			$.ajax({
				url: '/adjs/{{data["name"]}}/',
				type: 'POST',
				data: JSON.stringify(data),
				contentType: 'application/json'
			}).done(function(data){
				location.href = '/adjs/';
			}).fail(function(data){
				$('#msgbox-content').html('<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> ' + data.status + ' ' + data.statusText);
				$('#msgbox').show();
			});
		}
		
		function get_data(){
			var _ = {};
			_['winner'] = validate(not_null, $('[name=winner]:checked').val(), '#winner', 'Select <a href="#winner" class="alert-link">Winner</a>!');
			_['gov'] = {};
			var roles = ['pm', 'mg', 'gr'];
			var gov_total = 0;
			for(i in roles){
				var role = roles[i];
				_['gov'][i] = {};
				_['gov'][i]['name'] = validate(not_null, $('[name=' + role + '-name]:checked').val(), '#' + role + '-name', 'Select <a href="#' + role + '-name" class="alert-link">' + role.toUpperCase() + '\'s Name</a>!');
				_['gov'][i]['score'] = validate(is_number, Number($('[name=' + role + '-score]:checked').val()), '#' + role + '-score', 'Select <a href="#' + role + '-score" class="alert-link">' + role.toUpperCase() + '\'s Score!</a>');
				gov_total += _['gov'][i]['score'];
			}
			_['opp'] = {};
			var roles = ['lo', 'mo', 'or'];
			var opp_total = 0;
			for(i in roles){
				var role = roles[i];
				_['opp'][i] = {};
				_['opp'][i]['name'] = validate(not_null, $('[name=' + role + '-name]:checked').val(), '#' + role + '-name', 'Select <a href="#' + role + '-name" class="alert-link">' + role.toUpperCase() + '\'s Name</a>!');
				_['opp'][i]['score'] = validate(is_number, Number($('[name=' + role + '-score]:checked').val()), '#' + role + '-score', 'Select <a href="#' + role + '-score" class="alert-link">' + role.toUpperCase() + '\'s Score</a>!');
				opp_total += _['opp'][i]['score'];
			}
			
			var adjs = [{% for adj in other_adjs %}{{'{'}}role:"{{adj['role']}}", name:"{{ adj['name'] }}"{{'}'}}, {% endfor %}null];
			adjs.pop();
			_['adjs'] = [];
			for(i in adjs){
				var adj = adjs[i];
				var score = validate(is_number, Number($('[name=' + adj.name + '-score]:checked').val()), '#' + adj.name + '-score', 'Select <a href="#' + adj.name + '-score" class="alert-link">' + adj.name + '\'s Score</a>!')
				_['adjs'].push({'role':adj.role, 'name':adj.role, 'score':score});
			}
			
			if(_['gov'][0]['name'] == _['gov'][1]['name']){
				$('#pm-name').addClass('has-error');
				$('#mg-name').addClass('has-error');
				throw new Error('<a href="#pm-name" class="alert-link">PM</a> and <a href="mg-name" class="alert-link">MG</a> shold be different person!');
			}
			
			if(_['opp'][0]['name'] == _['opp'][1]['name']){
				$('#lo-name').addClass('has-error');
				$('#mo-name').addClass('has-error');
				throw new Error('<a href="#lo-name" class="alert-link">LO</a> and <a href="mo-name" class="alert-link">MO</a> shold be different person!');
			}
			
			gov_name = "{{round['gov']}}";
			opp_name = "{{round['opp']}}";
			if(gov_total == opp_total){
				throw new Error('Tie-Win.');
			}else if(gov_name == _['winner']){
				if(opp_total > gov_total){
					throw new Error('Low-Win (Opp wins in total team-score though the selected Winner is Gov).');
				}
			}else if(opp_name == _['winner']){
				if(gov_total > opp_total){
					throw new Error('Low-Win (Gov wins in total team-score though the selected Winner is Opp).');
				}
			}
			
			return _;
		}
		
		function validate(test, value, id, msg){
			if(test(value)){
				return value;
			}else{
				$(id).addClass('has-error');
				throw new Error(msg);
				return null;
			}
		}
		
		function not_null(value){
			return (value !== undefined && value !== null && value !== '');
		}
		
		function is_number(value){
			return (not_null(value) && !isNaN(value));
		}
	</script>
	
	<style>
		.panel-title {
			font-weight:bold;
		}
		
		.radio {
			display:none;
		}
		
		.radio + .radio-label {
				display: inline-block;
				padding: 6px 6px;
				margin-bottom: 0;
				font-size: 14px;
				font-weight: 400;
				line-height: 1.42857143;
				text-align: center;
				white-space: nowrap;
				vertical-align: middle;
				-ms-touch-action: manipulation;
				touch-action: manipulation;
				cursor: pointer;
				-webkit-user-select: none;
				-moz-user-select: none;
				-ms-user-select: none;
				user-select: none;
				background-image: none;
				border: 1px solid transparent;
				border-radius: 4px;
		}
		
		.has-error .radio-label {
			color: #a94442 !important;
			border-color: #a94442 !important;
			-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
				      box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
		}
		
		.has-error .radio:focus + .radio-label {
			border-color: #843534 !important;
			-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
				      box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
		}
		
		.radio + .radio-label:focus,
		.radio + .radio-label:active:focus,
		.radio.active + .radio-label:focus,
		.radio.focus + .radio-label,
		.radio.focus + .radio-label:active,
		.radio.active.focus + .radio-label,
		.radio:checked + .radio-label:focus,
		.radio.checked + .radio-label:focus,
		.radio:checked.focus + .radio-label,
		.radio.checked.focus + .radio-label {
			outline: thin dotted;
			outline: 5px auto -webkit-focus-ring-color;
			outline-offset: -2px;
		}
		
		.radio + .radio-label:hover,
		.radio + .radio-label:focus,
		.btn.focus + .radio-label {
			color: #333;
			text-decoration: none;
		}
		
		.radio + .radio-label:active,
		.radio.active + .radio-label,
		.radio:checked + .radio-label,
		.radio.checked + .radio-label {
			background-image: none;
			outline: 0;
			-webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
			        box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
		}
		
		.radio-default + .radio-label {
			color: #333;
			background-color: #fff;
			border-color: #ccc;
		}
		
		.radio-group > .radio:first-child + .radio-label:not(:last-child) {
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
		}
		
		.radio-group>.radio:first-child + .radio-label {
			margin-left: 0;
		}
		
		.radio-group > .radio:not(:first-child) + .radio-label:last-child {
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
		}
		
		.radio-group > .radio:not(:first-child) + .radio-label:not(:last-child) {
			border-radius: 0;
		}
		
		.radio-group>.radio + .radio-label:last-child {
			margin-right: 0;
		}
		
		.radio-group > .radio + .radio-label {
			position: relative;
			float: left;
		}
		
		.radio-default.focus + .radio-label,
		.radio-default + .radio-label:focus {
			color:#333;
			background-color:#e6e6e6;
			border-color:#8c8c8c
		}
		
		.radio-default + .radio-label:hover {
			color:#333;
			background-color:#e6e6e6;
			border-color:#adadad
		}
		
		.radio-default.active + .radio-label,
		.radio-default + .radio-label:active,
		.radio-default.checked + .radio-label,
		.radio-default:checked + .radio-label {
			color:#333;
			background-color:#e6e6e6;
			border-color:#adadad
		}
		
		.radio-default.active.focus + .radio-label,
		.radio-default.active + .radio-label:focus,
		.radio-default.active + .radio-label:hover,
		.radio-default.focus + .radio-label:active,
		.radio-default + .radio-label:active:focus,
		.radio-default + .radio-label:active:hover,
		.radio-default.checked.focus + .radio-label,
		.radio-default.checked + .radio-label:focus,
		.radio-default.checked + .radio-label:hover,
		.radio-default:checked.focus + .radio-label,
		.radio-default:checked:focus + .radio-label,
		.radio-default:checked:hover + .radio-label {
			color:#333;
			background-color:#d4d4d4;
			border-color:#8c8c8c
		}
		
		.radio-group-justified > .radio + .radio-label,
		.radio-group-justified > .radio-group {
			display: table-cell;
			float: none;
			width: 1%;
		}
		.radio-group-justified {
			display: table;
			width: 100%;
			table-layout: fixed;
			border-collapse: separate;
		}
		
		.scrollable-container {
			overflow-x:auto;
			overflow-y:no;
		}
		
		{% macro abs(n) -%}{{n|abs}}{%- endmacro -%}
		{%- set score_range_diff = abs(score_range['max'] - score_range['min'])|int -%}
		{%- set feedback_range_diff = abs(feedback_range['max'] - feedback_range['min'])|int -%}
		{%- if score_range_diff >= feedback_range_diff -%}
			{%- set _range_diff = score_range_diff -%}
		{%- else -%}
			{%- set _range_diff = feedback_range_diff -%}
		{%- endif -%}
		.scrollable {
			min-width:{{ _range_diff * 60 }}px;
		}
		
		table.scrollable {
			margin-bottom:0;
		}
		
		.form-group:last-child {
			margin-bottom:0;
		}
	</style>
{% endblock %}

{% block content %}
	<div class="page-header">
		<h1>{{data['name']}} <small>{{data['role']|title}}</small></h1>
	</div>
	
	<h2>Match-Up <small>for Round {{round_n}}</small></h2>
	
	<div class="scrollable-container">
	<table class="scrollable table table-bordered table-condensed">
		<thead>
			<tr><th>Venue</th><th>Gov.</th><th>Opp.</th><th>Chair</th><th>Panel</th><th>Trainee</th></tr>
		</thead>
		<tbody>
			<tr>
				<td><div class="venue">{{round['venue']}}</div></td>
				<td><div class="gov team">{{round['gov']}}</div></td>
				<td><div class="opp team">{{round['opp']}}</div></td>
				<td>
					{% for chair in round['chair'] %}
						<div class="adj">{{chair}}</div>
					{% endfor %}
				</td>
				<td>
					{% for panel in round['panel'] %}
						<div class="adj">{{panel}}</div>
					{% endfor %}
				</td>
				<td>
					{% for trainee in round['trainee'] %}
						<div class="adj">{{trainee}}</div>
					{% endfor %}
				</td>
			</tr>
		</tbody>
	</table>
	</div>
	
	<h2>Ballot <small>for Round {{round_n}}</small></h2>
	
	<div class="panel panel-primary">
		<div class="panel-heading">
			<div class="panel-title">Winner</div>
		</div>
		
		<div class="panel-body">
			<div class="form-group" id="winner">
				<div class="radio-group radio-group-justified">
					<input type="radio" name="winner" id="winner-gov" class="radio radio-default radio-group-item" value="{{round['gov']}}"></input>
					<label for="winner-gov" class="radio-label">{{round['gov']}} <span class="badge pull-left">Gov</span></label>
					<input type="radio" name="winner" id="winner-opp" class="radio radio-default radio-group-item" value="{{round['opp']}}"></input>
					<label for="winner-opp" class="radio-label">{{round['opp']}} <span class="badge pull-left">Opp</span></label>
				</div>
			</div>
		</div>
	</div>
	
	{% macro ballot_panel(id, role, team, speakers, _range, color='default') -%}
	<div class="panel panel-{{color}}">
		<div class="panel-heading">
			<div class="panel-title">{{role}} <span class="badge pull-right">{{team}}</span></div>
		</div>
		
		<div class="panel-body">
			<div class="form-group" id="{{id}}-name">
				<div class="radio-group radio-group-justified">
					{% for speaker in speakers %}
						<input type="radio" name="{{id}}-name" id="{{id}}-name-{{speaker}}" class="radio radio-default radios-group-item" value="{{speaker}}"></input>
						<label for="{{id}}-name-{{speaker}}" class="radio-label">{{speaker}}</label>
					{% endfor %}
				</div>
			</div>
			<div class="scrollable-container">
			<div class="form-group" id="{{id}}-score">
				<div class="scrollable">
				<div class="radio-group radio-group-justified">
					{% for i in frange(_range['min'], _range['max']+1, _range['step']) %}
						<input type="radio" name="{{id}}-score" id="{{id}}-score-{{i}}" class="radio radio-default radio-group-item" value="{{i}}"></input>
						<label for="{{id}}-score-{{i}}" class="radio-label">{{pre_float_to_str(i)}}</label>
					{% endfor %}
				</div>
				</div>
			</div>
			</div>
		</div>
	</div>
	{%- endmacro %}
	
	{% macro feedback_panel(role, name, color='default') -%}
	{% set id = name %}
	<div class="panel panel-{{color}}">
		<div class="panel-heading">
			<div class="panel-title">{{name}} <span class="badge pull-right">{{role|title}}</span></div>
		</div>
		
		<div class="panel-body">
				<div class="scrollable-container">
				<div class="form-group" id="{{id}}-score">
				<div class="scrollable">
				<div class="radio-group radio-group-justified" id="{{id}}-score">
					{% for i in range(feedback_range['min'], feedback_range['max']+1, feedback_range['step']) %}
						<input type="radio" name="{{id}}-score" id="{{id}}-score-{{i}}" class="radio radio-default radio-group-item" value="{{i}}"></input>
						<label for="{{id}}-score-{{i}}" class="radio-label">{{pre_float_to_str(i)}}</label>
					{% endfor %}
				</div>
				</div>
				</div>
				</div>
		</div>
	</div>
	{%- endmacro %}
	
	{% set gov_color, opp_color = 'success', 'warning' %}
	{{ ballot_panel('pm', 'Prime Minister', round['gov'], gov['speakers'], score_range, gov_color) }}
	{{ ballot_panel('lo', 'Leader of Opposition', round['opp'], opp['speakers'], score_range, opp_color) }}
	{{ ballot_panel('mg', 'Member of Government', round['gov'], gov['speakers'], score_range, gov_color) }}
	{{ ballot_panel('mo', 'Member of Opposition', round['opp'], opp['speakers'], score_range, opp_color) }}
	{{ ballot_panel('gr', 'Government Reply', round['gov'], gov['speakers'], reply_range, gov_color) }}
	{{ ballot_panel('or', 'Oppsition Reply', round['opp'], opp['speakers'], reply_range, opp_color) }}
	
	<h2>Judge Evaluation <small>for Round {{round_n}}</small></h2>
	
	{% set adj_color = 'info' %}
	{% for adj in other_adjs %}
		{{ feedback_panel(adj['role'], adj['name'], adj_color) }}
	{% endfor %}
	
	<hr>
	
	<div id="msgbox" class="alert alert-danger alert-dismissible">
		<button type="button" class="close" data-dismiss="alert">
			<span class="glyphicon glyphicon-remove" aris-hidden="true"></span>
		</button>
		<span id="msgbox-content"></span>
	</div>
	
	<div class="row">
		<a href="/adjs/{{data['name']}}/cancel/{{round_n}}" class="btn btn-default col-xs-offset-2 col-xs-3">Cancel</a>
		<a href="javascript:save();" class="btn btn-primary col-xs-offset-2 col-xs-3">Save</a>
	</div>
	<br><br><br>
{% endblock %}

