{% extends "base.template" %}

{% block title %}[{{data['name']}}] Score Sheet for Round {{round_n}}{% endblock %}

{% set round = data['round'] %}

{% macro nows(s) %}{{s|replace(' ', '-')}}{% endmacro %}

{% block head %}
	{{ super() }}
	
	<script>
		$(function(){
			$('#msgbox').hide();
			window.onunload = canceler;
			window.onbeforeunload = canceler;
		});
		
		var done_canceler = false;
		function canceler(){
			$.ajax({
				url:'/adjs/{{data["name"]}}/cancel/{{round_n}}',
				type:'GET',
				async:(userAgent.indexOf('msie') != -1)
			}).done(function(data){
				alert()
			});
			return 'wait';
		}
		
		function confirm(){
			try {
				var data = get_data();
			} catch(e) {
				$('#msgbox-content').html('<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> ' + e);
				$('#msgbox').show();
				
				throw e;
				
				return false;
			}
			
			return data;
		}
		
		function save(){
			var data = confirm();
			
			if(!data){
				return;
			}
			
			function sender(data){
				return function(){
					$.ajax({
						url: '/adjs/{{data["name"]}}/',
						type: 'POST',
						data: JSON.stringify(data),
						contentType: 'application/json'
					}).done(function(data){
						location.href = '/adjs/';
					}).fail(function(data){
						$('#dlg-msgbox-content').html('<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> ' + data.status + ' ' + data.statusText);
						$('#dlg-msgbox').show();
					});
				};
			}
			
			user_confirmation(data, sender);
		}
		
		function nows(s){
			return s.replace(/ /g, '-');
		}
		
		function get_data(){
			var _ = {};
			_['winner'] = validate(not_null, $('[name=winner]:checked').val(), '#winner', 'Select <a href="#winner" class="alert-link">Winner</a>!');
			_['gov'] = {'name':"{{round['gov']}}", 'total':0};
			var roles = ['pm', 'mg', 'gr'];
			for(i in roles){
				var role = roles[i];
				_['gov'][role] = {};
				_['gov'][role]['name'] = validate(not_null, $('[name=' + role + '-name]:checked').val(), '#' + role + '-name', 'Select <a href="#' + role + '-name" class="alert-link">' + role.toUpperCase() + '\'s Name</a>!');
				_['gov'][role]['score'] = validate(is_number, Number($('[name=' + role + '-score]:checked').val()), '#' + role + '-score', 'Select <a href="#' + role + '-score" class="alert-link">' + role.toUpperCase() + '\'s Score!</a>');
				_['gov']['total'] += _['gov'][role]['score'];
			}
			_['opp'] = {'name':"{{round['opp']}}", 'total':0};
			var roles = ['lo', 'mo', 'or'];
			for(i in roles){
				var role = roles[i];
				_['opp'][role] = {};
				_['opp'][role]['name'] = validate(not_null, $('[name=' + role + '-name]:checked').val(), '#' + role + '-name', 'Select <a href="#' + role + '-name" class="alert-link">' + role.toUpperCase() + '\'s Name</a>!');
				_['opp'][role]['score'] = validate(is_number, Number($('[name=' + role + '-score]:checked').val()), '#' + role + '-score', 'Select <a href="#' + role + '-score" class="alert-link">' + role.toUpperCase() + '\'s Score</a>!');
				_['opp']['total'] += _['opp'][role]['score'];
			}
			
			if(_['gov']['pm']['name'] == _['gov']['mg']['name']){
				$('#pm-name').addClass('has-error');
				$('#mg-name').addClass('has-error');
				throw new Error('<a href="#pm-name" class="alert-link">PM</a> and <a href="mg-name" class="alert-link">MG</a> shold be different person!');
			}
			
			if(_['opp']['lo']['name'] == _['opp']['mo']['name']){
				$('#lo-name').addClass('has-error');
				$('#mo-name').addClass('has-error');
				throw new Error('<a href="#lo-name" class="alert-link">LO</a> and <a href="mo-name" class="alert-link">MO</a> shold be different person!');
			}
			
			_['gov']['win'] = (_['winner'] == _['gov']['name']);
			_['opp']['win'] = !_['gov']['win'];
			/*
			if(_['gov']['total'] == _['opp']['total']){
				throw new Error('Tie-Win.');
			}else if(_['gov']['win']){
				if(_['opp']['total'] > _['gov']['total']){
					throw new Error('Low-Win (Opp wins in total team-score though the selected Winner is Gov).');
				}
			}else if(_['opp']['win']){
				if(_['gov']['total'] > _['opp']['total']){
					throw new Error('Low-Win (Gov wins in total team-score though the selected Winner is Opp).');
				}
			}
			*/
			
			return _;
		}
		
		function validate(test, value, id, msg){
			if(test(value)){
				return value;
			}else{
				$(id).addClass('has-error');
				throw new Error(msg);
				return null;
			}
		}
		
		function not_null(value){
			return (value !== undefined && value !== null && value !== '');
		}
		
		function is_number(value){
			return (not_null(value) && !isNaN(value));
		}
		
		/*
		function select_speaker(st, role, speakers){
			var another = "";
			for(i in speakers){
				if(speakers[i] != st){
					another = speakers[i];
				}
			}
			nd = '#' + role[1] + '-name-' + another;
			rd = '#' + role[2] + '-name-' + st;
			
			document.querySelector(nd).checked = true;
			document.querySelector(rd).checked = true;
			$(document.querySelector(nd)).click();
			$(document.querySelector(rd)).click();
		}
		
		function select_speaker_pm(pm){
			select_speaker(pm, ['pm', 'mg', 'gr'],[ "{{nows(gov['speakers'][0])}}", "{{nows(gov['speakers'][1])}}" ]);
		}
		
		function select_speaker_lo(lo){
			select_speaker(lo, ['lo', 'mo', 'or'],[ "{{nows(opp['speakers'][0])}}", "{{nows(opp['speakers'][1])}}" ]);
		}
		*/
		
		var selected_speaker_table = {
			'gov': {
				{% for speaker in gov['speakers'] %}
					"{{nows(speaker)}}": false,
				{% endfor %}
			},
			'opp': {
				{% for speaker in opp['speakers'] %}
					"{{nows(speaker)}}": false,
				{% endfor %}
			}
		};
		
		function select_speaker(side, sp){
			for(p in selected_speaker_table[side]){
				var p_is_sp = (p == sp);
				
				selected_speaker_table[side][p] = p_is_sp;
				
				if(side == 'gov'){
					var role = ['pm', 'mg', 'gr'];
				}else{
					var role = ['lo', 'mo', 'or'];
				}
				for(i in role){
					speaker = '#' + role[i] + '-name-' + p;
					if(selected_speaker_table[side][p]){
						//$(speaker + '-label').addClass('pre-selected');
					}else{
						//$(speaker + '-label').removeClass('pre-selected');
					}
				}
			}
		}
		
		function user_confirmation(data, sender){
			$('#con_winner').text(data['winner']);
			
			$('#con_gov_name').text(data['gov']['name']);
			$('#con_gov_total').text(data['gov']['total']);
			$('#con_pm_name').text(data['gov']['pm']['name']);
			$('#con_pm_pt').text(data['gov']['pm']['score']);
			$('#con_mg_name').text(data['gov']['mg']['name']);
			$('#con_mg_pt').text(data['gov']['mg']['score']);
			$('#con_gr_name').text(data['gov']['gr']['name']);
			$('#con_gr_pt').text(data['gov']['gr']['score']);
			(data['gov']['win'])? $('#gov_star').show() : $('#gov_star').hide();
			
			$('#con_opp_name').text(data['opp']['name']);
			$('#con_opp_total').text(data['opp']['total']);
			$('#con_lo_name').text(data['opp']['lo']['name']);
			$('#con_lo_pt').text(data['opp']['lo']['score']);
			$('#con_mo_name').text(data['opp']['mo']['name']);
			$('#con_mo_pt').text(data['opp']['mo']['score']);
			$('#con_or_name').text(data['opp']['or']['name']);
			$('#con_or_pt').text(data['opp']['or']['score']);
			(data['opp']['win'])? $('#opp_star').show() : $('#opp_star').hide();
			
			$('#btn_save').on('click', sender(data));
			
			$('#dlg-msgbox').hide();
			$('#dialog').modal('show');
		}
	</script>
	
	<style>
		.panel-title {
			font-weight:bold;
		}
		.emphasized {
			font-weight:bold;
			color:rgb(49, 112, 143);
		}
		/*
		.has-error .btn {
			color: #a94442 !important;
			border-color: #a94442 !important;
			-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
				      box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
		}
		*/
		.has-error .btn {
			border-color: #843534 !important;
			-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
				      box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
		}
		
		.scrollable-container {
			overflow-x:auto;
			overflow-y:none;
			margin-bottom:15px;
		}
		
		{% macro abs(n) -%}{{n|abs}}{%- endmacro -%}
		{%- set score_range_diff = abs(score_range['max'] - score_range['min'])|int -%}
		.scrollable.range {
			min-width:{{ score_range_diff * 70 }}px;
		}
		
		table.scrollable {
			margin-bottom:0;
		}

		.btn-group-vertical {
			width:100%!important;
		}
		
		.form-group:last-child {
			margin-bottom:0;
		}
		
		.pre-selected {
			background-color:#e6e6e6;
		}
	</style>
{% endblock %}

{% block dialog %}
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		<h4 class="modal-title">Confirm <small>Round {{round_n+1}}</small></h4>
	</div>
	<div class="modal-body">
		<p>
			You are {{data["name"]}}, {{data["role"]|title}} @{{round["venue"]}}<br>
			The win goes to <span id="con_winner"></span>.<br>
		</p>
		<h3>Gov: <span id="con_gov_name"></span> <span class="glyphicon glyphicon-star-empty" id="gov_star"></span></h3>
		<div class="scrollable-container">
		<table class="scrollable table table-bordered table-condensed">
			<thead>
				<tr><th>Role</th><th>Name</th><th>Pt.</th></tr>
			</thead>
			<tbody>
				<tr><td>PM</td><td><span id="con_pm_name"></span></td><td><span id="con_pm_pt"></span></td></tr>
				<tr><td>MG</td><td><span id="con_mg_name"></span></td><td><span id="con_mg_pt"></span></td></tr>
				<tr><td>GR</td><td><span id="con_gr_name"></span></td><td><span id="con_gr_pt"></span></td></tr>
				<tr><td>Total</td><td colspan="2"><span id="con_gov_total"></span></td></tr>
			</tbody>
		</table>
		</div>
		
		<h3>Opp: <span id="con_opp_name"></span> <span class="glyphicon glyphicon-star-empty" id="opp_star"></span></h3>
		<div class="scrollable-container">
		<table class="scrollable table table-bordered table-condensed">
			<thead>
				<tr><th>Role</th><th>Name</th><th>Pt.</th></tr>
			</thead>
			<tbody>
				<tr><td>LO</td><td><span id="con_lo_name"></span></td><td><span id="con_lo_pt"></span></td></tr>
				<tr><td>MO</td><td><span id="con_mo_name"></span></td><td><span id="con_mo_pt"></span></td></tr>
				<tr><td>OR</td><td><span id="con_or_name"></span></td><td><span id="con_or_pt"></span></td></tr>
				<tr><td>Total</td><td colspan="2"><span id="con_opp_total"></span></td></tr>
			</tbody>
		</table>
		</div>
		
		<div id="dlg-msgbox" class="alert alert-danger alert-dismissible">
			<!--button type="button" class="close" data-dismiss="alert">
				<span class="glyphicon glyphicon-remove" aris-hidden="true"></span>
			</button-->
			<span id="dlg-msgbox-content"></span>
		</div>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-primary" id="btn_save">Send</button>
		<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
	</div>
{% endblock %}

{% block content %}
	<div class="page-header">
		<h1>{{data['name']}} <small>{{data['role']|title}}</small></h1>
	</div>
	
	<h2>Match-Up <small>for Round {{round_n}}</small></h2>
	
	<div class="scrollable-container">
	<table class="scrollable table table-bordered table-condensed">
		<thead>
			<tr><th>Venue</th><th>Gov.</th><th>Opp.</th><th>Chair</th><th>Panel</th><th>Trainee</th></tr>
		</thead>
		<tbody>
			<tr>
				<td><div class="venue">{{round['venue']}}</div></td>
				<td><div class="gov team">{{round['gov']}}</div></td>
				<td><div class="opp team">{{round['opp']}}</div></td>
				<td>
					{% for chair in round['chair'] %}
						<div class="adj {% if chair == data['name'] %}emphasized{% endif %}">{{chair}}</div>
					{% endfor %}
				</td>
				<td>
					{% for panel in round['panel'] %}
						<div class="adj {% if panel == data['name'] %}emphasized{% endif %}">{{panel}}</div>
					{% endfor %}
				</td>
				<td>
					{% for trainee in round['trainee'] %}
						<div class="adj">{{trainee}}</div>
					{% endfor %}
				</td>
			</tr>
		</tbody>
	</table>
	</div>
	
	<h2>Score Sheet <small>{{data['role']|title}} <span class="glyphicon glyphicon-arrow-right"><!--chevron--></span> Teams</small></h2>
	
	<div class="panel panel-primary">
		<div class="panel-heading">
			<div class="panel-title">Winner</div>
		</div>
		
		<div class="panel-body">
			<div class="form-group" id="winner">
				<div class="btn-group btn-group-justified" data-toggle="buttons">
					<label for="winner-gov" class="btn btn-default">
						<input type="radio" name="winner" id="winner-gov" value="{{round['gov']}}"></input>
						{{round['gov']}} <span class="badge pull-left">Gov</span>
					</label>
					<label for="winner-opp" class="btn btn-default">
						<input type="radio" name="winner" id="winner-opp" value="{{round['opp']}}"></input>
						{{round['opp']}} <span class="badge pull-left">Opp</span>
					</label>
				</div>
			</div>
		</div>
	</div>
	
	{% macro ballot_panel(side, id, role, team, speakers, _range, color='default') -%}
	<div class="panel panel-{{color}}">
		<div class="panel-heading">
			<div class="panel-title">{{role}} <span class="badge pull-right">{{team}}</span></div>
		</div>
		
		<div class="panel-body">
			<div class="form-group" id="{{id}}-name">
				<div class="btn-group-vertical" data-toggle="buttons">
					{% for speaker in speakers %}
						<label for="{{id}}-name-{{nows(speaker)}}" class="btn btn-default" id="{{id}}-name-{{nows(speaker)}}-label" onclick="select_speaker('{{side}}', '{{nows(speaker)}}');" {# % if id == 'pm' or id == 'lo' %}onclick="select_speaker_{{id}}('{{nows(speaker)}}');"{% endif % #}>
							<input type="radio" name="{{id}}-name" id="{{id}}-name-{{nows(speaker)}}" value="{{speaker}}"></input>
							{{speaker}}
						</label>
					{% endfor %}
				</div>
			</div>
			<div class="scrollable-container">
			<div class="form-group" id="{{id}}-score">
				<div class="scrollable range">
				<div class="btn-group btn-group-justified" data-toggle="buttons">
					{% for i in frange(_range['min'], _range['max']+1, _range['step']) %}
						<label for="{{id}}-score-{{i}}" class="btn btn-default" id="{{id}}-score-{{i}}-label">
							<input type="radio" name="{{id}}-score" id="{{id}}-score-{{i}}" value="{{i}}"></input>
							{{pre_float_to_str(i)}}
						</label>
					{% endfor %}
				</div>
				</div>
			</div>
			</div>
		</div>
	</div>
	{%- endmacro %}
	
	{% set gov_color, opp_color = 'success', 'warning' %}
	{{ ballot_panel('gov', 'pm', 'Prime Minister', round['gov'], gov['speakers'], score_range, gov_color) }}
	{{ ballot_panel('opp', 'lo', 'Leader of Opposition', round['opp'], opp['speakers'], score_range, opp_color) }}
	{{ ballot_panel('gov', 'mg', 'Member of Government', round['gov'], gov['speakers'], score_range, gov_color) }}
	{{ ballot_panel('opp', 'mo', 'Member of Opposition', round['opp'], opp['speakers'], score_range, opp_color) }}
	{{ ballot_panel('opp', 'or', 'Oppsition Reply', round['opp'], opp['speakers'], reply_range, opp_color) }}
	{{ ballot_panel('gov', 'gr', 'Government Reply', round['gov'], gov['speakers'], reply_range, gov_color) }}
	
	<hr>
	
	<div id="msgbox" class="alert alert-danger alert-dismissible">
		<!--button type="button" class="close" data-dismiss="alert">
			<span class="glyphicon glyphicon-remove" aris-hidden="true"></span>
		</button-->
		<span id="msgbox-content"></span>
	</div>
	
	<div class="row">
		<a href="/adjs/{{data['name']}}/cancel/{{round_n}}" class="btn btn-default col-xs-offset-2 col-xs-3">Cancel</a>
		<a href="javascript:save();" class="btn btn-primary col-xs-offset-2 col-xs-3">Save</a>
	</div>
	<br><br><br>
{% endblock %}

