{% extends "base.template" %}

{% block title %}[{{data['name']}}] Score Sheet for Round {{round_n}}{% endblock %}

{% set round = data['round'] %}

{% macro nows(s) %}{{s|replace(' ', '-')}}{% endmacro %}

{% block head %}
	{{ super() }}
	
	<script>
		$(function(){
			$('#msgbox').hide();
			window.onunload = canceler;
			window.onbeforeunload = canceler;
		});
		
		var done_canceler = false;
		function canceler(){
			$.ajax({
				url:'/adjs/{{data["name"]|urlescape}}/cancel/{{round_n}}',
				type:'GET',
				async:(userAgent.indexOf('msie') != -1)
			}).done(function(data){
				alert()
			});
			return 'wait';
		}
		
		function save(){
			try {
				var data = get_data();
			} catch(e) {
				$('#msgbox-content').html('<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> ' + e);
				$('#msgbox').show();
				
				throw e;
				
				return;
			}
			
			$.ajax({
				url: '/adjs/{{data["name"]}}/',
				type: 'POST',
				data: JSON.stringify(data),
				contentType: 'application/json'
			}).done(function(data){
				location.href = '/adjs/';
			}).fail(function(data){
				$('#msgbox-content').html('<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> ' + data.status + ' ' + data.statusText);
				$('#msgbox').show();
			});
		}
		
		function nows(s){
			return s.replace(/ /g, '-');
		}
		
		function get_data(){
			var _ = {};
			_['winner'] = validate(not_null, $('[name=winner]:checked').val(), '#winner', 'Select <a href="#winner" class="alert-link">Winner</a>!');
			_['gov'] = {'name':"{{round['gov']}}", 'total':0};
			var roles = ['pm', 'mg', 'gr'];
			for(i in roles){
				var role = roles[i];
				_['gov'][role] = {};
				_['gov'][role]['name'] = validate(not_null, $('[name=' + role + '-name]:checked').val(), '#' + role + '-name', 'Select <a href="#' + role + '-name" class="alert-link">' + role.toUpperCase() + '\'s Name</a>!');
				_['gov'][role]['score'] = validate(is_number, Number($('[name=' + role + '-score]:checked').val()), '#' + role + '-score', 'Select <a href="#' + role + '-score" class="alert-link">' + role.toUpperCase() + '\'s Score!</a>');
				_['gov']['total'] += _['gov'][role]['score'];
			}
			_['opp'] = {'name':"{{round['opp']}}", 'total':0};
			var roles = ['lo', 'mo', 'or'];
			for(i in roles){
				var role = roles[i];
				_['opp'][role] = {};
				_['opp'][role]['name'] = validate(not_null, $('[name=' + role + '-name]:checked').val(), '#' + role + '-name', 'Select <a href="#' + role + '-name" class="alert-link">' + role.toUpperCase() + '\'s Name</a>!');
				_['opp'][role]['score'] = validate(is_number, Number($('[name=' + role + '-score]:checked').val()), '#' + role + '-score', 'Select <a href="#' + role + '-score" class="alert-link">' + role.toUpperCase() + '\'s Score</a>!');
				_['opp']['total'] += _['opp'][role]['score'];
			}
			
			if(_['gov']['pm']['name'] == _['gov']['mg']['name']){
				$('#pm-name').addClass('has-error');
				$('#mg-name').addClass('has-error');
				throw new Error('<a href="#pm-name" class="alert-link">PM</a> and <a href="mg-name" class="alert-link">MG</a> shold be different person!');
			}
			
			if(_['opp']['lo']['name'] == _['opp']['mo']['name']){
				$('#lo-name').addClass('has-error');
				$('#mo-name').addClass('has-error');
				throw new Error('<a href="#lo-name" class="alert-link">LO</a> and <a href="mo-name" class="alert-link">MO</a> shold be different person!');
			}
			
			_['gov']['win'] = (_['winner'] == _['gov']['name']);
			_['opp']['win'] = !_['gov']['win'];
			if(_['gov']['total'] == _['opp']['total']){
				throw new Error('Tie-Win.');
			}else if(_['gov']['win']){
				if(_['opp']['total'] > _['gov']['total']){
					throw new Error('Low-Win (Opp wins in total team-score though the selected Winner is Gov).');
				}
			}else if(_['opp']['win']){
				if(_['gov']['total'] > _['opp']['total']){
					throw new Error('Low-Win (Gov wins in total team-score though the selected Winner is Opp).');
				}
			}
			
			return _;
		}
		
		function validate(test, value, id, msg){
			if(test(value)){
				return value;
			}else{
				$(id).addClass('has-error');
				throw new Error(msg);
				return null;
			}
		}
		
		function not_null(value){
			return (value !== undefined && value !== null && value !== '');
		}
		
		function is_number(value){
			return (not_null(value) && !isNaN(value));
		}
		
		function select_speaker(st, role, speakers){
			var another = "";
			for(i in speakers){
				if(speakers[i] != st){
					another = speakers[i];
				}
			}
			nd = '#' + role[1] + '-name-' + another;
			rd = '#' + role[2] + '-name-' + st;
			
			document.querySelector(nd).checked = true;
			document.querySelector(rd).checked = true;
			$(document.querySelector(nd)).click();
			$(document.querySelector(rd)).click();
		}
		
		function select_speaker_pm(pm){
			select_speaker(pm, ['pm', 'mg', 'gr'],[ "{{nows(gov['speakers'][0])}}", "{{nows(gov['speakers'][1])}}" ]);
		}
		
		function select_speaker_lo(lo){
			select_speaker(lo, ['lo', 'mo', 'or'],[ "{{nows(opp['speakers'][0])}}", "{{nows(opp['speakers'][1])}}" ]);
		}
	</script>
	
	<style>
		.panel-title {
			font-weight:bold;
		}
		.emphasized {
			font-weight:bold;
			color:rgb(49, 112, 143);
		}
		/*
		.has-error .btn {
			color: #a94442 !important;
			border-color: #a94442 !important;
			-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
				      box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
		}
		*/
		.has-error .btn {
			border-color: #843534 !important;
			-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
				      box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
		}
		
		.scrollable-container {
			overflow-x:auto;
			overflow-y:none;
			margin-bottom:15px;
		}
		
		{% macro abs(n) -%}{{n|abs}}{%- endmacro -%}
		{%- set score_range_diff = abs(score_range['max'] - score_range['min'])|int -%}
		.scrollable {
			min-width:{{ score_range_diff * 70 }}px;
		}
		
		table.scrollable {
			margin-bottom:0;
		}

		.btn-group-vertical {
			width:100%!important;
		}
		
		.form-group:last-child {
			margin-bottom:0;
		}
	</style>
{% endblock %}

{% block content %}
	<div class="page-header">
		<h1>{{data['name']}} <small>{{data['role']|title}}</small></h1>
	</div>
	
	<h2>Match-Up <small>for Round {{round_n}}</small></h2>
	
	<div class="scrollable-container">
	<table class="scrollable table table-bordered table-condensed">
		<thead>
			<tr><th>Venue</th><th>Gov.</th><th>Opp.</th><th>Chair</th><th>Panel</th><th>Trainee</th></tr>
		</thead>
		<tbody>
			<tr>
				<td><div class="venue">{{round['venue']}}</div></td>
				<td><div class="gov team">{{round['gov']}}</div></td>
				<td><div class="opp team">{{round['opp']}}</div></td>
				<td>
					{% for chair in round['chair'] %}
						<div class="adj {% if chair == data['name'] %}emphasized{% endif %}">{{chair}}</div>
					{% endfor %}
				</td>
				<td>
					{% for panel in round['panel'] %}
						<div class="adj {% if panel == data['name'] %}emphasized{% endif %}">{{panel}}</div>
					{% endfor %}
				</td>
				<td>
					{% for trainee in round['trainee'] %}
						<div class="adj">{{trainee}}</div>
					{% endfor %}
				</td>
			</tr>
		</tbody>
	</table>
	</div>
	
	<h2>Score Sheet <small>{{data['role']|title}} <span class="glyphicon glyphicon-arrow-right"><!--chevron--></span> Teams</small></h2>
	
	<div class="panel panel-primary">
		<div class="panel-heading">
			<div class="panel-title">Winner</div>
		</div>
		
		<div class="panel-body">
			<div class="form-group" id="winner">
				<div class="btn-group btn-group-justified" data-toggle="buttons">
					<label for="winner-gov" class="btn btn-default">
						<input type="radio" name="winner" id="winner-gov" value="{{round['gov']}}"></input>
						{{round['gov']}} <span class="badge pull-left">Gov</span>
					</label>
					<label for="winner-opp" class="btn btn-default">
						<input type="radio" name="winner" id="winner-opp" value="{{round['opp']}}"></input>
						{{round['opp']}} <span class="badge pull-left">Opp</span>
					</label>
				</div>
			</div>
		</div>
	</div>
	
	{% macro ballot_panel(id, role, team, speakers, _range, color='default') -%}
	<div class="panel panel-{{color}}">
		<div class="panel-heading">
			<div class="panel-title">{{role}} <span class="badge pull-right">{{team}}</span></div>
		</div>
		
		<div class="panel-body">
			<div class="form-group" id="{{id}}-name">
				<div class="btn-group-vertical" data-toggle="buttons">
					{% for speaker in speakers %}
						<label for="{{id}}-name-{{nows(speaker)}}" class="btn btn-default" id="{{id}}-name-{{nows(speaker)}}-label" {% if id == 'pm' or id == 'lo' %}onclick="select_speaker_{{id}}('{{nows(speaker)}}');"{% endif %}>
							<input type="radio" name="{{id}}-name" id="{{id}}-name-{{nows(speaker)}}" value="{{speaker}}"></input>
							{{speaker}}
						</label>
					{% endfor %}
				</div>
			</div>
			<div class="scrollable-container">
			<div class="form-group" id="{{id}}-score">
				<div class="scrollable">
				<div class="btn-group btn-group-justified" data-toggle="buttons">
					{% for i in frange(_range['min'], _range['max']+1, _range['step']) %}
						<label for="{{id}}-score-{{i}}" class="btn btn-default" id="{{id}}-score-{{i}}-label">
							<input type="radio" name="{{id}}-score" id="{{id}}-score-{{i}}" value="{{i}}"></input>
							{{pre_float_to_str(i)}}
						</label>
					{% endfor %}
				</div>
				</div>
			</div>
			</div>
		</div>
	</div>
	{%- endmacro %}
	
	{% set gov_color, opp_color = 'success', 'warning' %}
	{{ ballot_panel('pm', 'Prime Minister', round['gov'], gov['speakers'], score_range, gov_color) }}
	{{ ballot_panel('lo', 'Leader of Opposition', round['opp'], opp['speakers'], score_range, opp_color) }}
	{{ ballot_panel('mg', 'Member of Government', round['gov'], gov['speakers'], score_range, gov_color) }}
	{{ ballot_panel('mo', 'Member of Opposition', round['opp'], opp['speakers'], score_range, opp_color) }}
	{{ ballot_panel('or', 'Oppsition Reply', round['opp'], opp['speakers'], reply_range, opp_color) }}
	{{ ballot_panel('gr', 'Government Reply', round['gov'], gov['speakers'], reply_range, gov_color) }}
	
	<hr>
	
	<div id="msgbox" class="alert alert-danger alert-dismissible">
		<button type="button" class="close" data-dismiss="alert">
			<span class="glyphicon glyphicon-remove" aris-hidden="true"></span>
		</button>
		<span id="msgbox-content"></span>
	</div>
	
	<div class="row">
		<a href="/adjs/{{data['name']}}/cancel/{{round_n}}" class="btn btn-default col-xs-offset-2 col-xs-3">Cancel</a>
		<a href="javascript:save();" class="btn btn-primary col-xs-offset-2 col-xs-3">Save</a>
	</div>
	<br><br><br>
{% endblock %}

