{% extends "base.template" %}

{%block title %}Admin Home{% endblock %}

{% block head %}
	{{ super() }}
	
	<script>
		function maintainance(to){
			$.ajax({
				url: '/admin/maintainance/' + to,
				type: 'GET'
			}).done(function(data){
				location.reload();
			}).fail(function(data){
				alert('Error: ' + data.status + ' ' + data.statusText);
			});
		}
		
		function change_account(){
			function cry(p){return p;}
			
			var old_u = prompt('Enter current username:');
			if(old_u == null || old_u == undefined){return;}
			var old_p = prompt('Enter current password:');
			if(old_p == null || old_p == undefined){return;}
			var new_u = prompt('Enter new username:');
			if(new_u == null || new_u == undefined){return;}
			var new_p = prompt('Enter new password:');
			if(new_p == null || new_p == undefined){return;}
			
			var data = {
				'old_u': cry(old_u),
				'old_p': cry(old_p),
				'new_u': cry(new_u),
				'new_p': cry(new_p)
			};
			
			$.ajax({
				url: '/admin/account',
				type: 'POST',
				data: JSON.stringify(data),
				contentType: 'application/json',
				dataType:'text'
			}).done(function(data){
				alert(data);
				location.href='/login/';
			}).fail(function(data){
				alert('Error: ' + data.status + ' ' + data.statusText);
			});
		}
		
		function rollback(){
			var n = prompt('[Be Careful] Round to Rollback: '{% if round_n >= 1 %}, {{round_n-1}}{% endif %});
			if(n != null && n != '' && !isNaN(n)){
				if(confirm('[Be Careful] Are you really sure to rollback to round ' + n + '?\n\n(Rollback operation will delete and reset data on database!)')){
					$.ajax({
						url: '/admin/rollback/' + n,
						type: 'GET'
					}).done(function(data){
						alert('Import data and proceed to next round immidiately.\n\n(Page will be reloaded)');
						location.reload();
					}).fail(function(data){
						alert('Error: ' + data.status + ' ' + data.statusText);
					});
				}
			}
		}
	</script>
	
	<style>
		.form-group:not(:last-child) {
			min-height:32px;
		}
	</style>
{% endblock %}

{% block dialog %}
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		<h4 class="modal-title"><span class="glyphicon glyphicon-arrow-right" style="font-size:10px;right:-3px;top:-8px"></span><span class="glyphicon glyphicon-compressed"></span> Data Importer <small>for Round {{round_n+1}}</small></h4>
	</div>
	<div class="modal-body">
	<div class="container-fluid">
		<form clas="form-horizontal" id="data-form" action="/admin/data-importer/{{round_n+1}}" method="POST" enctype="multipart/form-data">
			{% macro input_file(lbl, id) %}
			<div class="form-group">
				<label for="venue_data" class="col-xs-3 control-label">{{lbl}}</label>
				<div class="col-xs-9">
					<input type="file" class="form-control" name="{{id}}_data" id="{{id}}_data" accept="text/csv" required></input>
				</div>
				<!--div class="col-sm-3">
					<p class="help-block"></p>
				</div-->
			</div>
			{% endmacro %}
			
			{{ input_file('Teams', 'teams') }}
			{{ input_file('Draw', 'draw') }}
		</form>
	</div>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
		<button type="submit" class="btn btn-primary" form="data-form">Proceed to Round {{round_n+1}} <span class="glyphicon glyphicon-chevron-right"></span></button>
	</div>
{% endblock %}

{% block content %}
	<div class="page-header">
		<h1>Admin</h1>
	</div>
	
	<div class="panel panel-primary">
		<div class="panel-heading" data-toggle="collapse" data-target="#dashboard">
			<div class="panel-title"><span class="glyphicon glyphicon-dashboard"></span> Dashboard <span class="glyphicon glyphicon-collapse pull-right"></span></div>
		</div>
		<div class="panel-collapse collapse in" id="dashboard">
			<div class="list-group">
				<a class="list-group-item" href="/admin/config/"><span class="glyphicon glyphicon-cog"></span> General Config</a>
				<a class="list-group-item" href="javascript:change_account();"><span class="glyphicon glyphicon-user"></span> Admin Account</a>
				<a class="list-group-item" href="javascript:maintainance('{% if maintainance == true %}off{% else %}on{% endif %}');"><span class="glyphicon glyphicon-wrench"></span> Switch Maintainance Mode {% if maintainance == true %}Off{% else %}On{% endif %}</a>
				<a class="list-group-item" data-toggle="modal" data-target="#dialog" style="cursor:pointer;"><span class="glyphicon glyphicon-send"></span> Proceed to Round {{round_n+1}}</a>
				<a class="list-group-item" href="javascript:rollback();"><span class="glyphicon glyphicon-repeat"></span> Rollback Round</a>
				<a class="list-group-item" href="/admin/manual/"><span class="glyphicon glyphicon-book"></span> Admin Manual</a>
				<a class="list-group-item" href="/admin/info-board/"><span class="glyphicon glyphicon-comment"></span> Edit Info Board</a>
			</div>
		</div>
	</div>
	
	{% for n in range(round_n) %}
	<div class="panel panel-info">
		<div class="panel-heading" data-toggle="collapse" data-target="#round{{loop.index}}">
			<div class="panel-title"><span class="glyphicon glyphicon-inbox"></span> Round {{loop.index}} <span class="glyphicon glyphicon-collapse pull-right"></span></div>
		</div>
		<div class="panel-collapse collapse in" id="round{{loop.index}}">
			<div class="list-group">
				<a class="list-group-item" href="/data/round{{loop.index}}/Results{{loop.index}}.csv"><span class="glyphicon glyphicon-floppy-save"></span> Ballots (Results{{loop.index}}.csv)</a>
				<a class="list-group-item" href="/data/round{{loop.index}}/Results{{loop.index}}_sep.csv"><span class="glyphicon glyphicon-floppy-save"></span> Ballots (Results{{loop.index}}_sep.csv)</a>
				<a class="list-group-item" href="/data/round{{loop.index}}/Results{{loop.index}}.json"><span class="glyphicon glyphicon-floppy-save"></span> Ballots (Results{{loop.index}}.json)</a>
			</div>
		</div>
	</div>
	{% endfor %}
{% endblock %}
