{% extends "base.template" %}

{%block title %}Home{% endblock %}

{% block content %}
	<div class="page-header">
		<h1>Round {{round_n}} <small>{{tournament_name}}</small></h1>
	</div>
	
	<!--
	<div class="panel panel-success">
		<div class="panel-heading">
			<div class="panel-title">Debaters</div>
		</div>
		<div class="list-group">
			<a class="list-group-item" href="/eva/">Judge Evaluation Sheet<span class="glyphicon glyphicon-chevron-right pull-right"></span></a>
		</div>
	</div>
	-->
	
	<div class="panel panel-warning">
		<!--
		<div class="panel-heading">
			<div class="panel-title">Adjudicators</span></div>
		</div>
		-->
		<div class="list-group">
			<a class="list-group-item" href="/adjs/">Score Sheet<span class="glyphicon glyphicon-chevron-right pull-right"></span></a>
			<!--
			<a class="list-group-item" href="/eva/">Judge Evaluation Sheet<span class="glyphicon glyphicon-chevron-right pull-right"></span></a>
			-->
		</div>
	</div>
	
	<div class="page-header">
		<h1>Draws <small>{{tournament_name}}</small></h1>
	</div>
	
	<div class="panel panel-default">
		<div class="list-group">
			{% for i in range(round_n) %}
				<a class="list-group-item" href="/draw/{{loop.index}}/">Draw for Round {{loop.index}}<span class="glyphicon glyphicon-chevron-right pull-right"></span></a>
			{% endfor %}
		</div>
	</div>
	
{% endblock %}
