{% extends "base.template" %}

{%block title %}Home - {{ PROJECT_NAME }}{% endblock %}

{% block content %}
	<div class="page-header">
		<h1>Ballots & Evaluations <small>for Round {{round_n}}</small></h1>
	</div>
	
	<div class="panel panel-default">
		<div class="panel-heading">
			<div class="panel-title">Who are you?</div>
		</div>
		<div class="list-group">
			<a class="list-group-item" href="/adjs">Adjudicators</a>
			<a class="list-group-item" href="/teams">Debaters</a>
		</div>
	</div>
{% endblock %}
