<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="utf-8">
	
	<title>Maintainance</title>
	
	<!--<link rel="shortcut icon" href="favicon.ico">-->
	<!--<link rel="stylesheet" href="main.css">-->
	<!--<script src="main.js" async defer></script>-->
</head>
<body>
	<header>
		<div id="page-header">
			<h1>Service is Not Available</h1>
		</div>
	</header>
	<main>
		<p>
			We are sorry but the service is now maintained.<br>
			Wait for a while, and it will be comming soon...<br>
		</p>
	</main>
</body>
</html>
