{% extends "base.template" %}
{% set no_info_board = true %}

{%block title %}Admin Manual{% endblock %}

{% block content %}
	<h1 class="page-header">Admin Manual</h1>
	
	<h3>Index</h3>
	<ol>
		<li><a href="#init">初期設定</a></li>
		<li><a href="#flow">ラウンド運営の流れ</a></li>
		<li><a href="#rollback">Rollback Round</a></li>
		<li><a href="#maintenance">Maintenance Mode</a></li>
		<li><a href="#infoboard">Information Board</a></li>
	</ol>
	
	<h2 id="init">初期設定</h2>
	<p>
		「Dashboard」から「General Config」を選んで、トーナメント名とスコアレンジをそれぞれ設定してください。<br>
		そして再び「Dashboard」から「Admin Account」を選んで適切なユーザ名とパスワードを設定してください。<br>
		初期状態での管理者アカウントは、ユーザ名「admin」パスワード「nimda」です。<br>
		ユーザ名・パスワード共に半角文字（数字、記号含む）のみ利用できます。<br>
		英字・数字・記号を組み合わせ、意味のある単語を含まない8桁以上のパスワードにするとある程度の信頼性があります。<br>
		最後に、「Switch Maintenance Mode: Off」をクリックして、メンテナンスモードをオフにするのをお忘れなく。<br>
	</p>
	
	<h2 id="flow">ラウンド運営の流れ</h2>
	<p>
		まず、「Dashboard」の「Proceed to Round〜」を選択します。<br>
		ダイアログが表示されるので、チーム情報と次のラウンドのマッチアップが書かれたファイルを選択し、「Proceed to Round〜」ボタンを押します。<br>
		すると、ラウンドが進み、そのマッチアップに従って結果入力欄が自動で作成され、管理画面の「Round〜」から入力された結果をファイルとしてダウンロードできるようになりますので、結果入力が終了したらファイルをダウンロードします。
	</p>
	
	<h2 id="rollback">Rollback Round</h2>
	<p>
		もしProceed後にマッチアップを変更した場合、Rollback Roundを選択し、どのラウンドまで戻るか入力すると、データを無視してラウンドを巻き戻すことができます。<br>
		例えば、Proceed to Round 2を押し、マッチアップやチームをインポートした後、マッチアップが変わった場合は、Round1に戻したいので、「1」を入力します。<br>
		Round 1をやり直す場合は「0」、Round 2をやり直す場合は「1」……のように数字で指定してください。<br>
		しかし、そのラウンドのマッチアップや結果データを削除する作業ですので、慎重に利用してください。
	</p>
	
	<h2 id="maintenance">Maintenance Mode</h2>
	<p>
		「Dashboard」の「Switch Maintenance Mode On」をクリックしてメンテナンスモードにすると、管理者以外からはサイト全体が見られなくなります。<br>
		結果入力が終了した後などに使用すると、第三者による不用意な変更を防ぐことができます。<br>
		また、インストール後の初期状態ではメンテナンスモードになっていますので、「Switch Maintenance Mode Off」をクリックして、メンテナンスモードをオフにしてください。<br>
	</p>
	
	<h2 id="infoboard">Information Board</h2>
	<p>
		Information Boardは、メンテナンスページ以外のすべてのページで表示される、コミからの連絡用掲示板です。<br>
		「Dashboard」の「Edit Info Board」をクリックするとInformation Boardを編集することができます。<br>
		「Title」を空にすると自動的に「Information Board」と表示されます。<br>
		「Body」を空欄にするとInformation Board自体が表示されなくなります。<br>
		また、「Body」ではMarkdown（GFM含む）を用いることができ、PCではリアルタイムプレビュー機能を使用することもできます。<br>
		Markdown記法については以下の記事を参照してください。<br>
		<ul>
			<li><a href="https://ja.wikipedia.org/wiki/Markdown#.E8.A8.98.E6.B3.95.E3.81.AE.E4.BE.8B">Markdown - Wikipedia</a> 日本語版Wikipediaの「記法の例」セクション</li>
			<li><a href="https://help.github.com/articles/markdown-basics/">Markdown Basics - Github</a> ベーシックなMarkdownの記法をわかりやすく解説した記事</li>
			<li><a href="https://help.github.com/articles/github-flavored-markdown/">Github Flavored Markdown - Github</a> Markdownの拡張版であるGFMについての記事</li>
			<li><a href="http://daringfireball.net/projects/markdown/syntax.php">Darling Fireball: Markdown Syntax Documentation</a> 本家による詳細かつ完全な文法定義</li>
		</ul>
	</p>
{% endblock %}
